<div class="big-cat-block">
    <div class="big-cat-block-left" style="background: #dcdcdc">
        <div class="big-cat-block-left-text">
            <span class="small-text">{{ small_text}}</span>
            <span class="large-text">{{ large_text }}</span>
            <a class="button" href="#" >{{% btn_text %}}</a> 
        </div>
    </div>
    <div class="big-cat-block-right">
        <img src="" alt="" />
    </div>
</div>