

{% if menuMain %}
	<ul id="menu-main-menu" class="menu sub-menu">
	{% for item in items %}
		{% if item | lenght %}
			<li class="{{ item.classes | join(' ') }}">
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>

				{% include "menu.twig" with {'items': item.children} %}

			</li>
		{% endif %}
	{% endfor %}
	</ul>
{% endif %}
