.font-main-c {
  color: #B95073;
}

.font-main-hover-c:hover {
  color: #B95073;
}

.font-main2-hover-bg-c {
  background: #F1DCE3;
}

.font-main4-hover-bg-c {
  background: #EACBD5;
}

.front-page-wrap .front-page-inner .fp-subheading {
  color: #B95073;
}

.front-page-wrap .front-page-inner .top-kategorie .top-kategorie ul li a {
  color: #B95073;
  border: 2px solid #F1DCE3;
}

.front-page-wrap .front-page-inner .top-kategorie .top-kategorie ul li a:hover {
  background: #F1DCE3;
  color: #B95073;
}

.front-page-wrap .front-page-inner .blog-block {
  border: 2px solid #EACBD5;
}

.front-page-wrap .front-page-inner .blog-block:hover {
  background: #EACBD5;
}

.front-page-wrap .front-page-inner .blog-block h2 {
  color: #B95073;
}

.front-page-wrap .front-page-inner .blog-block button {
  color: #B95073;
}

#cn-accept-cookie {
  background: #B95073 !important;
}

.main-header {
  border-bottom: 1px solid #F1DCE3;
}

.main-header .header-inner .header-main-menu ul li a {
  color: black;
}

.main-header .header-inner .header-main-menu ul li a:hover {
  color: #B95073;
  background: #F1DCE3;
}

@media only screen and (max-width: 1100px) {
  .main-header .header-inner .header-main-menu ul li a {
    background: #F1DCE3;
  }
}

.main-header .header-inner .header-main-menu ul li > .sub-menu {
  border: 1px solid #F1DCE3;
}

.main-header .header-inner .header-main-menu ul li > .sub-menu li a:hover {
  background: #F1DCE3;
}

.main-header .header-inner .header-right-options .main-header-search:hover {
  background: #F1DCE3;
}

@media only screen and (max-width: 1100px) {
  .main-header .header-inner .header-right-options .main-header-search {
    background: #F1DCE3;
  }
  .main-header .header-inner .header-right-options .main-header-search svg {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.main-header .header-inner .header-right-options .main-header-search svg path {
  fill: #B95073;
}

.main-header .header-inner .header-right-options .main-header-search .s-bread {
  background: #B95073;
}

.main-header .header-inner .header-right-options .sandwich:hover {
  background: #F1DCE3;
}

@media only screen and (max-width: 1100px) {
  .main-header .header-inner .header-right-options .sandwich {
    background: #F1DCE3;
  }
}

.main-header .header-inner .header-right-options .sandwich .bread {
  background: #B95073;
}

.footer {
  border-top: 2px solid #F1DCE3;
}

.footer .footer-inner h1 {
  color: #B95073;
}

.footer .footer-inner .woo-footer .product-footer .products li {
  border: 1px solid #dcdcdc;
}

.footer .footer-inner .blog-footer .categories ul li a {
  -webkit-box-shadow: inset 0 0 0 #EACBD5;
          box-shadow: inset 0 0 0 #EACBD5;
}

.footer .footer-inner .blog-footer .categories ul li a:hover {
  -webkit-box-shadow: inset 0 -0.9rem 0 #EACBD5;
          box-shadow: inset 0 -0.9rem 0 #EACBD5;
}

.footer .footer-inner .blog-footer .posts ul li a {
  border: 2px solid #F1DCE3;
}

.footer .footer-inner .blog-footer .posts ul li a:hover {
  background: #F1DCE3;
}

.notfoundpage-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.notfoundpage-wrapper .notfoundpage-inner {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 720px) {
  .notfoundpage-wrapper .notfoundpage-inner {
    width: 100%;
  }
}

.notfoundpage-wrapper .notfoundpage-inner .notfoundpage-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 720px) {
  .notfoundpage-wrapper .notfoundpage-inner .notfoundpage-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.notfoundpage-wrapper .notfoundpage-inner .notfoundpage-main .notfoundpage-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 720px) {
  .notfoundpage-wrapper .notfoundpage-inner .notfoundpage-main .notfoundpage-text-wrap {
    width: 100%;
  }
}

.notfoundpage-wrapper .notfoundpage-inner .notfoundpage-main .notfoundpage-text-wrap .notfoundpage-text-header {
  font-size: 12rem;
  text-align: right;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 900px) {
  .notfoundpage-wrapper .notfoundpage-inner .notfoundpage-main .notfoundpage-text-wrap .notfoundpage-text-header {
    font-size: 9rem;
  }
}

@media only screen and (max-width: 720px) {
  .notfoundpage-wrapper .notfoundpage-inner .notfoundpage-main .notfoundpage-text-wrap .notfoundpage-text-header {
    margin: 0 auto;
    text-align: center;
    font-size: 8rem;
    line-height: 7rem;
  }
}

.notfoundpage-wrapper .notfoundpage-inner .notfoundpage-main .notfoundpage-text-wrap .notfoundpage-text-header span {
  font-size: 2rem;
  font-weight: normal;
}

@media only screen and (max-width: 900px) {
  .notfoundpage-wrapper .notfoundpage-inner .notfoundpage-main .notfoundpage-text-wrap .notfoundpage-text-header span {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 720px) {
  .notfoundpage-wrapper .notfoundpage-inner .notfoundpage-main .notfoundpage-text-wrap .notfoundpage-text-header span {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}

.notfoundpage-wrapper .notfoundpage-inner .notfoundpage-main .notfoundpage-img {
  height: 600px;
}

@media only screen and (max-width: 900px) {
  .notfoundpage-wrapper .notfoundpage-inner .notfoundpage-main .notfoundpage-img {
    height: 450px;
  }
}

@media only screen and (max-width: 720px) {
  .notfoundpage-wrapper .notfoundpage-inner .notfoundpage-main .notfoundpage-img {
    height: auto;
    width: 80%;
    margin: 2rem auto 0 auto;
  }
}

.notfoundpage-wrapper .notfoundpage-inner .notfoundpage-exit {
  width: 300px;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  height: 3rem;
  font-size: 1.1rem;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  text-align: center;
  line-height: 3rem;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  text-decoration: none;
  color: black;
  background: white;
  border-radius: 10px;
}

@media only screen and (max-width: 720px) {
  .notfoundpage-wrapper .notfoundpage-inner .notfoundpage-exit {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=404.css.map */