.font-main-c {
  color: #B95073;
}

.font-main-hover-c:hover {
  color: #B95073;
}

.font-main2-hover-bg-c {
  background: #F1DCE3;
}

.font-main4-hover-bg-c {
  background: #EACBD5;
}

.front-page-wrap .front-page-inner .fp-subheading {
  color: #B95073;
}

.front-page-wrap .front-page-inner .top-kategorie .top-kategorie ul li a {
  color: #B95073;
  border: 2px solid #F1DCE3;
}

.front-page-wrap .front-page-inner .top-kategorie .top-kategorie ul li a:hover {
  background: #F1DCE3;
  color: #B95073;
}

.front-page-wrap .front-page-inner .blog-block {
  border: 2px solid #EACBD5;
}

.front-page-wrap .front-page-inner .blog-block:hover {
  background: #EACBD5;
}

.front-page-wrap .front-page-inner .blog-block h2 {
  color: #B95073;
}

.front-page-wrap .front-page-inner .blog-block button {
  color: #B95073;
}

#cn-accept-cookie {
  background: #B95073 !important;
}

.main-header {
  border-bottom: 1px solid #F1DCE3;
}

.main-header .header-inner .header-main-menu ul li a {
  color: #B95073;
}

.main-header .header-inner .header-main-menu ul li a:hover {
  color: #B95073;
  background: #F1DCE3;
}

@media only screen and (max-width: 1100px) {
  .main-header .header-inner .header-main-menu ul li a {
    background: #F1DCE3;
  }
}

.main-header .header-inner .header-main-menu ul li > .sub-menu {
  border: 1px solid #F1DCE3;
}

.main-header .header-inner .header-main-menu ul li > .sub-menu li a:hover {
  background: #F1DCE3;
}

.main-header .header-inner .header-right-options .main-header-search:hover {
  background: #F1DCE3;
}

@media only screen and (max-width: 1100px) {
  .main-header .header-inner .header-right-options .main-header-search {
    background: #F1DCE3;
  }
  .main-header .header-inner .header-right-options .main-header-search svg {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.main-header .header-inner .header-right-options .main-header-search svg path {
  fill: #B95073;
}

.main-header .header-inner .header-right-options .main-header-search .s-bread {
  background: #B95073;
}

.main-header .header-inner .header-right-options .sandwich:hover {
  background: #F1DCE3;
}

@media only screen and (max-width: 1100px) {
  .main-header .header-inner .header-right-options .sandwich {
    background: #F1DCE3;
  }
}

.main-header .header-inner .header-right-options .sandwich .bread {
  background: #B95073;
}

.footer {
  border-top: 2px solid #F1DCE3;
}

.footer .footer-inner h1 {
  color: #B95073;
}

.footer .footer-inner .woo-footer .product-footer .products li {
  border: 1px solid #dcdcdc;
}

.footer .footer-inner .blog-footer .categories ul li a {
  -webkit-box-shadow: inset 0 0 0 #EACBD5;
          box-shadow: inset 0 0 0 #EACBD5;
}

.footer .footer-inner .blog-footer .categories ul li a:hover {
  -webkit-box-shadow: inset 0 -0.9rem 0 #EACBD5;
          box-shadow: inset 0 -0.9rem 0 #EACBD5;
}

.footer .footer-inner .blog-footer .posts ul li a {
  border: 2px solid #F1DCE3;
}

.footer .footer-inner .blog-footer .posts ul li a:hover {
  background: #F1DCE3;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 4rem;
}

.footer .footer-inner {
  width: calc(100% - 20px);
  max-width: 1200px;
  margin: 0 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 4rem;
}

.footer .footer-inner h1 {
  font-size: 1.6rem;
  margin: 0 0 1.5rem 0;
}

.footer .footer-inner .woo-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.footer .footer-inner .woo-footer .product-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.footer .footer-inner .woo-footer .product-footer .products {
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

@media only screen and (max-width: 900px) {
  .footer .footer-inner .woo-footer .product-footer .products {
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .footer .footer-inner .woo-footer .product-footer .products {
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .footer .footer-inner .woo-footer .product-footer .products {
    grid-gap: .5rem;
  }
}

.footer .footer-inner .woo-footer .product-footer .products .product-category img {
  display: none;
}

.footer .footer-inner .woo-footer .product-footer .products .product-category mark {
  display: none;
}

.footer .footer-inner .woo-footer .product-footer .products li {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.footer .footer-inner .woo-footer .product-footer .products li:hover {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.footer .footer-inner .woo-footer .product-footer .products li a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer .footer-inner .woo-footer .product-footer .products li img {
  width: 60%;
  height: auto;
  margin: auto;
}

.footer .footer-inner .woo-footer .product-footer .products li h2 {
  padding: .5rem 0;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  width: 100%;
  background: white;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  z-index: 2;
}

@media only screen and (max-width: 700px) {
  .footer .footer-inner .woo-footer .product-footer .products li h2 {
    font-size: .8rem;
  }
}

.footer .footer-inner .woo-footer .product-footer .products li .price {
  width: 100%;
  background: white;
  z-index: 2;
  padding: 0 0 .3rem 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  font-weight: bold;
  font-size: .9rem;
}

.footer .footer-inner .woo-footer .product-footer .products li .button {
  display: none;
}

.footer .footer-inner .woo-footer .product-footer .columns-4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 700px) {
  .footer .footer-inner .woo-footer .product-footer .columns-4 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .footer .footer-inner .woo-footer .product-footer .columns-4 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.footer .footer-inner .woo-footer .product-footer .columns-5 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 900px) {
  .footer .footer-inner .woo-footer .product-footer .columns-5 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .footer .footer-inner .woo-footer .product-footer .columns-5 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .footer .footer-inner .woo-footer .product-footer .columns-5 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.footer .footer-inner .blog-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.footer .footer-inner .blog-footer .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-inner .blog-footer .block ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.footer .footer-inner .blog-footer .block ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  padding: 0 .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .footer-inner .blog-footer .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-inner .blog-footer .categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-inner .blog-footer .categories ul li {
  margin: 1rem;
}

.footer .footer-inner .blog-footer .categories ul li a {
  margin: 0 .5rem;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.footer .footer-inner .blog-footer .posts ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 760px) {
  .footer .footer-inner .blog-footer .posts ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.footer .footer-inner .blog-footer .posts ul li a {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.footer .footer-inner .blog-footer .posts ul li a .img-wrap {
  height: 100px;
  width: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-inner .blog-footer .posts ul li a .img-wrap img {
  height: 100px !important;
  width: auto;
}

.footer .footer-inner .blog-footer .posts ul li a .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=footer.css.map */