html {
  scroll-behavior: smooth;
}

a {
  outline: none !important;
}

body {
  line-height: unset !important;
}

* {
  scroll-margin-top: 4rem;
}

.main-header {
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  position: fixed;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1100;
}

@media only screen and (max-width: 1100px) {
  .main-header {
    overflow: hidden;
  }
}

.main-header .header-inner {
  width: calc(100% - 20px);
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media only screen and (min-width: 1101px) {
  .main-header .header-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-header .header-inner .main-header-logo {
  height: 36px;
  width: auto;
  margin: 6px 2rem 0 0;
  padding: 6px 6px 6px 0;
  background: white;
  z-index: 1100;
}

@media only screen and (min-width: 1101px) {
  .main-header .header-inner .main-header-logo {
    margin: 0 2rem 0 0;
  }
}

.main-header .header-inner .main-header-logo a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header .header-inner .main-header-logo a img, .main-header .header-inner .main-header-logo a svg {
  height: 100%;
  width: auto;
  margin: auto auto auto 0;
}

.main-header .header-inner .header-main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: auto 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  padding: .3rem 0;
}

@media only screen and (max-width: 1100px) {
  .main-header .header-inner .header-main-menu {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    top: 0;
    left: 0;
    padding-top: 60px;
  }
}

.main-header .header-inner .header-main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  height: 100%;
  background: white;
  margin: 0;
  position: relative;
}

@media only screen and (max-width: 1100px) {
  .main-header .header-inner .header-main-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    height: auto;
    width: calc(100% - 2rem);
    max-width: 500px;
    margin: 2rem auto auto auto;
  }
}

.main-header .header-inner .header-main-menu ul li {
  margin: 0 .5rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
}

@media only screen and (max-width: 1100px) {
  .main-header .header-inner .header-main-menu ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    width: 100%;
  }
}

.main-header .header-inner .header-main-menu ul li a {
  text-decoration: none;
  color: black;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  margin: auto 0;
  padding: .4rem .6rem;
}

@media only screen and (max-width: 1100px) {
  .main-header .header-inner .header-main-menu ul li a {
    margin: 0 0 10px 0;
  }
}

.main-header .header-inner .header-main-menu ul li:hover > .sub-menu {
  visibility: visible !important;
  opacity: 1 !important;
}

.main-header .header-inner .header-main-menu ul li > .sub-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 5px;
  position: absolute;
  top: 100%;
  height: auto;
  padding: .7rem;
  width: 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  z-index: 1111;
}

@media only screen and (max-width: 1100px) {
  .main-header .header-inner .header-main-menu ul li > .sub-menu {
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    margin: 0;
    padding: 0 0 0 1rem;
    width: 100%;
    grid-gap: 0;
  }
}

.main-header .header-inner .header-main-menu ul li > .sub-menu li {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-header .header-inner .header-main-menu ul li > .sub-menu li a {
  height: auto;
  width: 100%;
  padding: .5rem 0 .5rem .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-header .header-inner .header-main-menu ul li > .sub-menu li:hover > .sub-menu {
  visibility: visible !important;
  opacity: 1 !important;
}

.main-header .header-inner .header-main-menu ul li > .sub-menu li > .sub-menu {
  position: absolute;
  left: calc(100% + .7rem);
  top: -0.7rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

@media only screen and (max-width: 1100px) {
  .main-header .header-inner .header-main-menu ul li > .sub-menu li > .sub-menu {
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    border: none;
    padding: 0 0 0 10px;
    grid-gap: 0;
  }
}

.main-header .header-inner .aws-container {
  width: calc(100% - 50px);
  right: 50px;
  top: 10px;
  max-width: 0;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  z-index: 1101;
  visibility: hidden;
  height: 40px;
  position: absolute;
}

@media only screen and (min-width: 1101px) {
  .main-header .header-inner .aws-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.main-header .header-inner .aws-container form {
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-header .header-inner .header-right-options {
  height: 40px;
  width: auto;
  margin: 4px 0 4px auto;
  padding: 6px 0;
  background: white;
  z-index: 1100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header .header-inner .header-right-options .main-header-search {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0 auto 1rem;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  cursor: pointer;
  position: relative;
}

@media only screen and (max-width: 1100px) {
  .main-header .header-inner .header-right-options .main-header-search svg {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.main-header .header-inner .header-right-options .main-header-search svg {
  width: 20px;
  height: auto;
  margin: auto;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  opacity: 1;
}

.main-header .header-inner .header-right-options .main-header-search .s-bread {
  width: 26px;
  height: 2px;
  position: absolute;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  opacity: 0;
}

.main-header .header-inner .header-right-options .main-header-search .s-top {
  top: 20px;
  left: 7px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-header .header-inner .header-right-options .main-header-search .s-bot {
  bottom: 20px;
  left: 7px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main-header .header-inner .header-right-options .sandwich {
  height: 40px;
  width: 40px;
  display: none;
  margin: auto 0 auto 1rem;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  cursor: pointer;
  position: relative;
}

@media only screen and (max-width: 1100px) {
  .main-header .header-inner .header-right-options .sandwich {
    margin: auto 0 auto 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-header .header-inner .header-right-options .sandwich .bread {
  width: 26px;
  height: 2px;
  position: absolute;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.main-header .header-inner .header-right-options .sandwich .top {
  top: 12px;
  left: 7px;
}

.main-header .header-inner .header-right-options .sandwich .bot {
  bottom: 12px;
  left: 7px;
}

.main-header-open {
  height: 100%;
}

.main-header-open .header-inner {
  width: calc(100% - 20px);
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header-open .header-inner .header-right-options .sandwich .bread {
  width: 26px;
  height: 2px;
  position: absolute;
}

.main-header-open .header-inner .header-right-options .sandwich .top {
  top: 20px;
  left: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-header-open .header-inner .header-right-options .sandwich .bot {
  bottom: 18px;
  left: 7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-header-search .header-inner .header-main-menu {
  opacity: 0;
  visibility: hidden;
}

.main-header-search .header-inner .aws-container {
  max-width: 500px;
  opacity: 1;
  visibility: visible;
}

.main-header-search .header-inner .header-right-options .sandwich {
  opacity: 0;
  width: 0;
  margin: 0;
}

.main-header-search .header-inner .header-right-options .main-header-search svg {
  opacity: 0;
}

.main-header-search .header-inner .header-right-options .main-header-search .s-bread {
  opacity: 1;
}

.main-header-search .header-inner .header-right-options .main-header-search .s-top {
  top: 20px;
  left: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-header-search .header-inner .header-right-options .main-header-search .s-bot {
  bottom: 18px;
  left: 7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=header.css.map */