.content-area {
  padding: 60px 0 0 0;
  width: calc(100 - 20px);
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-area .site-main {
  width: 100%;
  max-width: 1600px;
  margin: 50px auto 0 auto;
}

.content-area .site-main .woocommerce-breadcrumb {
  font-size: .9rem;
}

.content-area .site-main .woocommerce-breadcrumb a {
  color: #8f8f8f;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.content-area .site-main .woocommerce-breadcrumb a:hover {
  color: black;
}

.content-area .site-main .woocommerce-products-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-area .site-main .woocommerce-products-header h1 {
  margin: 1rem auto;
  max-width: 800px;
  font-size: 2rem;
}

.content-area .site-main .woocommerce-products-header .term-description {
  max-width: 800px;
  margin: 0 auto;
}

.content-area .site-main .woocommerce-products-header .term-description p {
  font-size: 1rem;
  line-height: 1.7rem;
}

.content-area .site-main .woocommerce-ordering {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-area .site-main .woocommerce-ordering .orderby {
  margin: 0 0 0 auto;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 1rem;
}

.content-area .site-main .products {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

@media only screen and (max-width: 900px) {
  .content-area .site-main .products {
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .content-area .site-main .products {
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .content-area .site-main .products {
    grid-gap: .5rem;
  }
}

.content-area .site-main .products li {
  position: relative;
  border: 1px solid #dcdcdc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  background: white;
}

.content-area .site-main .products li:hover {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.content-area .site-main .products li a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.content-area .site-main .products li a img {
  width: 60%;
  height: auto;
  margin: auto;
}

.content-area .site-main .products li a h2 {
  padding: .5rem 0;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  width: 100%;
  background: white;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  z-index: 2;
}

@media only screen and (max-width: 700px) {
  .content-area .site-main .products li a h2 {
    font-size: .8rem;
  }
}

.content-area .site-main .products li a .price {
  width: 100%;
  background: white;
  z-index: 2;
  padding: 0 0 .3rem 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.content-area .site-main .products li a .price span {
  font-weight: bold;
  font-size: .9rem;
}

.content-area .site-main .products li .button {
  display: none;
}

.content-area .site-main .columns-4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 700px) {
  .content-area .site-main .columns-4 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .content-area .site-main .columns-4 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.content-area .site-main .columns-5 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 900px) {
  .content-area .site-main .columns-5 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .content-area .site-main .columns-5 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .content-area .site-main .columns-5 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.sidebar-block {
  display: none;
}
/*# sourceMappingURL=category-page.css.map */